@media screen and (max-width: 614px){
body{
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
    width: 100%;

    color: #262626;
}

strong{
    font-weight: 500;
}

.menu-mobile{
    width: 100%;
    height: 54px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;

    z-index: 1;
    border: 1px solid #DBDBDB;
    font-size: 20px;
}

.menu-mobile img{
    height: 29px;
}
.desktop-all{
    width: 100%;
}

/* everything about the stories are positioned here*/
.stories{
    width: 100%;
    background-color: #FAFAFA;
    height: 121px;
    display: flex;
    align-items: center;
    margin-top: 54px;
    margin-bottom: 0px;
    overflow: hidden;
    box-sizing: border-box;
} 

.profile-story{
    max-width: 78px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.story-image{
    width: 66px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/stories_background.png);
    background-position: center center;
    margin-left: 18px;

}
.story-image img{
    height: 56px; 
}

.perfil-story h5{
    white-space: nowrap;
    overflow: hidden;
    max-width: 78px;
    text-overflow: ellipsis;
    margin-left: 18px;

    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}


/*the part where the main post is, including the user that posted*/
.user{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 61px;
    background-color: #FFFFFF;
    box-sizing: border-box;
   
}
.user div{
    display: flex;
    align-items: center
}
.user img{
    border-radius: 28px;
    width: 32px;
    height: 32px;
    margin-left: 17px;
}
.user h4{
    margin-left: 15px;
    font-weight: 500;
    width: 109px;
    height: 21px;
    font-size: 14px;
    line-height: 16.41px;
   
}
.user ion-icon{
  
    zoom: 150%;
   margin-right: 3%;
}

.box-img {
    background-color: #FFFFFF;
   box-sizing: border-box;
    width: 100%;
    margin-bottom: 60px;
    border: 1px solid #DBDBDB;
}

.box-img > img{
    width: 100%; 
}

/*under part from the posts, wherer the likes are*/
.likes{
    display: flex;
    justify-content: space-between;
    align-items: space-around;
    padding: 13px 16px;
    box-sizing: border-box;
   
}
.likes ion-icon{
    font-size: 20px;
}
.icons-left ion-icon{
    margin-right: 17px;
}
.likedby{
    display: flex;
    align-items: center;
    font-size: 14px;
    padding-bottom: 14px;
    padding-left: 17px;

}
.likedby img{
    border-radius: 10px;
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

    /*where the comments start*/
    .fixed{
        display: flex;
        justify-content: space-between;
        font-size: 14px;
    
        padding: 0px 16px 15px 17px;
      
        }
    
        .make-comment{
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            padding: 0px 16px 15px 17px;
        }
    
        .make-comment img{
            width: 20px;
            padding-right: 5px;
        }
    
        input{
            border: 1px solid lightgray;
            width: 78%;
            position: relative;
        }
    
        button{
            background-color: #FFFFFF;
            color: #B2DFFC;
            border: none;
    
            transition-duration: 300ms;
        }
        button:hover{
            color: #0095F6;
        }

.navigation{
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 54px;
    padding: 0 22px;

    box-sizing: border-box;
    position: fixed;
    margin-top: 54px;
    bottom: 0;
    left: 0;
}
.navigation ion-icon{
zoom: 120%;
}


/* no display on mobile*/
.menu-desktop{
    display: none;
}
.arrow{
    display: none;
}

.sidebar{
    display: none;
}
}